html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main, .overlay {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 5;
}

.overlay {
    z-index: 10;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}

.overlay .cursor {
    position: absolute;
    z-index: 15;
    width: 0;
    border-left: 1px dotted #FFFFFF;
    animation: blinking 1060ms linear infinite;
}

.CodeMirror {
    height: 100% !important;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
